/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

.lead {
  font-weight: 400;
  font-size: 1.25rem;
}
